@model Nop.Plugin.Preorder.Models.OrderItemVM
<form asp-controller="Preorder" asp-action="Order" method="post">
     Qty: <input asp-for="Qty" />
    Price: <input asp-for="Price" />
    id: <input asp-for="ProductId" />
    Name: <input asp-for="Name" />
          <button type="submit">preorder</button>
</form>